* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #04ffee;
    --secondary-color: #11577d;
}
body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
header {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    flex: wrap;
    padding: 20px 35px;
    

}
header h1 {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    padding: 0 35px;
    font-size: 40;

}
header a {
    color: var(--primary-color);
    
}
header nav {
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 20px;
    font-weight: lighter;
    font-size: 1.55vw;
    
    
}
section {
    padding: 60px;
}
.hero {
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
}

.section-title {
    font-size: 48px;
    color: var(--secondary-color);
    border-right: 5px solid var(--secondary-color);
    padding-right: 10px;
    text-align: right;
    width: 25%;
}


.contact {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contact-info {
    margin: 0;
    flex: 1;
}
.contact-info ul {
    display: flex;
    flex: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.contact-info ul li a {
    color: var(--secondary-color);
    font-size: 24px;
    margin: 30px;
}

