* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  :root {
    --primary-color: #04ffee;
    --secondary-color: #11577d;
  }
  body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  header {
      background-color: var(--secondary-color);
      display: flex;
      justify-content: space-between;
      flex: wrap;
      padding: 20px;
  
  }
  header h1 {
      color: var(--secondary-color);
      background-color: var(--primary-color);
      height: 40px;
      font-size: 40;
      display: flex;
      justify-content: center;
      align-items:center;
  }
  header a {
      color: var(--primary-color);
      
  }
  header nav {
      margin: 7px 0;
  }
  header nav ul {
      display: flex;
      flex: wrap;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      padding: 10px 20px;
      font-weight: lighter;
      font-size: 1.55vw;
  }
  header nav ul li {
    margin-left: 15px;
  }
  a {
      color: var(--secondary-color);
      
  }
  .hero {
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom: 20;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 150px;
  }
  
  .container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
  }

  .section-title {
    display: flex;
    justify-content: flex-end;

    border-right: 3px solid black;

    width: 25%;
    font-size: 40px;

    padding-right: 20px;
    padding-left: 20px;

    margin-right: 20px;
  }

  .section-content {
    display: flex;
    justify-content: space-around;

    flex-direction: column;
    width: 75%;
  }
  #bio img {
    margin: 10px;
    max-width: 300px;
    max-height: 300px;
    background-size: cover;
    background-position: center;
  }
  #bio p {
    color: var(--secondary-color);
    font-size: 20px;
  }
  #all-projects {
    
  }
  #top-project {

  }
  .project-row {
    display: flex;
    width: 100%
  }
  .project {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    height: 300px;
    width: 100%;

    margin: 10px;
    border: 5px solid var(--secondary-color);

    background-position: center;
    background-size: cover;
  }
  .project:hover {
    opacity: 50%;
  }


  .text-box {
    display: inline-block;
    width: fit-content;

    background-color: var(--secondary-color);
    color: var(--primary-color);
    margin: 0 0 10px 0;
  }
  #hero-text {
    font-size: 35px;
    padding: 10px 20px;
    

  }
  .text-box h3 {
    font-size: 30px;
    padding: 5px;
  }
  .text-box h4 {
    font-size: 15px;
    padding: 0 5px 5px 5px;
  }
/* IMAGES */
  #eazy-eatz {
    background-image: url(../images/project1-img.png);
  }
  #run-buddy {
    background-image: url(../images/runbuddy-hg.jpg);
  }
  #horiseon {
    background-image: url(../images/horiseon-bg.jpg );
  }

  
  #c-nav {
    font-size: 20px;
    display: flex;
    justify-content: center;
  }
  #c-ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%
  }
  .c-li {
    margin-left: 25px;
  }




  /*

  .content-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .content{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-top: 25px;
    min-width: 15%;
    max-width: 60%;
  }
  .content-container h2 {
    display: flex;
    padding-right: 7px;
    font-size: 40px;
    border-right: 3px solid black;
  }
  .content p {
    display: flex;
    padding-left: 30px;
  }
  article {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .main-project {
    display: flex;
    margin-bottom: 15px;
  }
  .projects {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100px;

    border: 3px solid var(--primary-color);
    color: var(--secondary-color);
  }



  #run-buddy {
    background-image: url("../images/runbuddy-hg.jpg");
    height: 400px;
    margin-top: 30px;
    justify-content: flex-end;
  }
  #horiseon {
    background-image: url("../images/horiseon-bg.jpg");
  }
  #eazy-eatz {
    background-image: url("../images/project1-img.png");

  }

  

@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }
    header h1 {
        width: 100%;
        text-align: center;
    }
    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    header nav ul li a {
        font-size: 20px;
    }
}

