* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  :root {
    --primary-color: #04ffee;
    --secondary-color: #11577d;
  }
  body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
  }
  header {
      background-color: var(--secondary-color);
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 20px;
  
  }
  header h1 {
      color: var(--secondary-color);
      background-color: var(--primary-color);
      margin: 10px;
      font-size: 40;
      display: flex;
      justify-content: center;
      align-items:center;
  }
  header a {
      color: var(--primary-color);
      
  }
  /*header nav {
      margin: 7px 0;
  }*/
  header nav ul {
      display: flex;
      flex: wrap;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      padding: 10px 20px;
      font-weight: lighter;
      font-size: 1.55vw;
  }
  header nav ul li {
    margin-left: 15px;
  }
  a {
      color: var(--secondary-color);
      
  }
  .hero {
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
  }

  .section-title {
    display: flex;
    justify-content: flex-end;

    border-right: 3px solid black;

    width: 25%;
    font-size: 40px;

    padding-right: 20px;
    padding-left: 20px;

    margin-right: 20px;
  }

  .section-content {
    display: flex;
    justify-content: space-around;

    flex-direction: column;
    width: 75%;
  }
  #bio img {
    margin: 10px;
    max-width: 300px;
    max-height: 300px;
    background-size: cover;
    background-position: center;
  }
  #bio p {
    color: var(--secondary-color);
    font-size: 20px;
  }
  #all-projects {
    
  }
  #top-project {

  }
  .project-row {
    display: flex;
    width: 100%
  }
  .project {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    height: 300px;
    width: 100%;

    margin: 10px;
    border: 5px solid var(--secondary-color);

    background-position: center;
    background-size: cover;
  }
  .project:hover {
    
    opacity: 70%;
  }


  .text-box {
    display: inline-block;
    width: fit-content;

    background-color: var(--secondary-color);
    color: var(--primary-color);
    margin: 0 0 10px 0;
  }
  #hero-text {
    font-size: 35px;
    padding: 10px 20px;
    

  }
  .text-box h3 {
    font-size: 30px;
    padding: 5px;
  }
  .text-box h4 {
    font-size: 15px;
    padding: 0 5px 5px 5px;
  }
/* IMAGES */
  #eazy-eatz {
    background-image: url(../images/project1-img.png);
  }
  #run-buddy {
    background-image: url(../images/runbuddy-hg.jpg);
  }
  #horiseon {
    background-image: url(../images/horiseon-bg.jpg );
  }
  #final-project {
    background-image: url(../images/project-3-screenshot.png);
  }

  
  #c-nav {
    font-size: 20px;
    display: flex;
    justify-content: center;
  }
  #c-ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%
  }
  .c-li {
    margin-left: 25px;
  }


  @media screen and (max-width: 767.9px) {
     header {
       justify-content: center;
       align-items: center;
       
     }
     header h1 {
       padding: 10px;
     }
     header nav ul li {
      font-size: 20px;
     }
     #hero-text {
       font-size: 30px;
     }
     .container {
       flex-direction: column;
       align-items: center;
     }
     .section-title {
      color: var(--secondary-color);
      display: flex;
      justify-content: center;
      width: 80%;

      border-right: none;
     }
     .section-content {
      align-items: center;

      border-top: 3px solid var(--secondary-color);
      padding-top: 20px;
      margin-top: 20px;
     }
     .project-row {
       flex-direction: column;
     }
     #c-nav {
       padding-bottom: 10px;
     }
  }

